<form method="post">
    <label>Id</label>
    <input type="text" name="IdDepartamento" class="form-control" />
    <label>Nombre</label>
    <input type="text" name="Nombre" class="form-control" />
    <label>Localidad</label>
    <input type="text" name="Localidad" class="form-control" />
    <button class="btn btn-primary">Guardar</button>
</form>