@model List<Departamento>

<a class="btn btn-outline-danger" asp-controller="Departamento" asp-action="Create">Create</a>

@if(Model != null){
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdDepartamento</td>
                    <td>@item.Nombre</td>
                    <td>@item.Localidad</td>
                    <td><a class="btn btn-outline-primary" asp-controller="Departamento" asp-action="Details" asp-route-id="@item.IdDepartamento">Detalles</a></td>
                </tr>
            }
        </tbody>
    </table>
}
